body {
  position: fixed;
  background-color: #fae1cb;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
    }

.ground {
  position: absolute;
  display: block;
  background-color: #cac4ae;
  width: 200px;
  height: 200px;
  transform: rotateZ(45deg);
  z-index: -999;
    }

.ground div:first-child {
  position: absolute;
  display: block;
  background-cover: #83a75f;
  width: 70px;
  height: 90px;
  bottom: 0px;
  right: 0px;
  /*  z-index property specifies the stack order of an element -- element with greater stack order is always in front of an element with a lower stack order. */
  z-index: -998;
    }

.ground div:nth-child(2) {
  position: absolute;
  display: block;
  background-color: transparent;
  width: 60px;
  height: 50px;
  top: 0px;
  right: 0px;
  z-index: -998;
     }

.ground div:nth-child(3){
  position: absolute;
  display: block;
  background-color: #b2ab93;
  width: 10px;
  height: 200px;
  top: 5px;
  right: -10px;
  z-index: -998;
  transform: skewY(45deg);
    }

.ground div:nth-child(4){
   position: absolute;
   display: block;
   background-color: #d5cfba;
   width: 200px;
   height: 10px;
   top: 200px;
   right: -5px;
   z-index: -998;
   transform: skewX(45deg);
    }

.road {
   position: absolute;
   display: block;
   background-color: #989899;
   width: 40px;
   height: 200px;
   transform: rotateZ(45deg);
   top: 0px;
   left: 80px;
   z-index: -998;
    }
  
.road:after {
  position: absolute;
  display: block;
  content:'';
  background-color: #989899;
  width: 30px;
  height: 200px;
  transform: rotateZ(90deg);
  top: -15px;
  left: 5px;
  z-index:-998;
   }

/* Skyscraper */
.skyscraper {
  position: absolute;
  display: block;
  background-color: transparent;
  width: 60px;
  height: 80px;
  transform: rotateX(45deg);
  top: 53px;
  left: -10px;
  z-index: 999;
   }

.skyscraper .wall-one {
  position: absolute;
  display: block;
  background-color: #7da1bf;
  width: 60px;
  height: 150px;
  transform: skewX(45deg);
  top: -70px;
  left: -75px;
   }

.skyscraper .wall-one div{
  position: absolute;
  display: block;
  background-color: black;
  opacity: 0.2;
  width: 60px;
  height: 2px;
  top: 10px;
  left: 0px;
  box-shadow: 0 -8px 0 0 black,
              0 10px 0 0 black,
              0 20px 0 0 black,
              0 30px 0 0 black,
              0 40px 0 0 black,
              0 50px 0 0 black,
              0 60px 0 0 black,
              0 70px 0 0 black,
              0 80px 0 0 black,
              0 90px 0 0 black,
              0 100px 0 0 black,
              0 110px 0 0 black,
              0 120px 0 0 black,
              0 130px 0 0 black;
     }





