body {
  position: fixed;
  background-color: #fae1cb;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
    }

.ground {
  position: absolute;
  display: block;
  background-color: #cac4ae;
  width: 200px;
  height: 200px;
  transform: rotateZ(45deg);
    }
